<div class="technology">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container grid-container--technology flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">03</span> Space launch 101
    </h1>

    <article class="technology-info flex">
      <div class="numbered-indicators flex">
        <button aria-selected="true" class="ff-sans-cond bg-dark text-white">
          1
        </button>
        <button aria-selected="false" class="ff-sans-cond bg-dark text-white">
          2
        </button>
        <button aria-selected="false" class="ff-sans-cond bg-dark text-white">
          3
        </button>
      </div>
      <div>
        <header class="flow flow--space-medium">
          <h2 class="fs-600 ff-serif text-accent uppercase">
            The terminology...
          </h2>
          <p class="fs-700 ff-serif uppercase">Launch vehicle</p>
        </header>
        <p>
          A launch vehicle or carrier rocket is a rocket-propelled vehicle used
          to carry a payload from Earth's surface to space, usually to Earth
          orbit or beyond. Our WEB-X carrier rocket is the most powerful in
          operation. Standing 150 metres tall, it's quite an awe-inspiring sight
          on the launch pad!
        </p>
      </div>
    </article>

    <picture>
      <source
        media="(max-width: 47.5rem)"
        srcset="../assets/technology/image-launch-vehicle-landscape.jpg"
      />
      <img
        src="../assets/technology/image-launch-vehicle-portrait.jpg"
        alt="launch vehicle"
      />
    </picture>
  </main>
</div>
