.technology {
  background-size: cover;
  min-height: 100vh;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

.grid-container--technology {
  --flow-space: 2rem;
  padding-top: 0.7rem;
  grid-template-areas:
    "title"
    "image"
    "content";
}

.grid-container--technology > picture {
  grid-area: image;
}

.technology-info {
  grid-area: content;
  flex-direction: column;
}

.technology-info > div:nth-of-type(2) h2 {
  color: hsl(var(--clr-white) / 0.5);
}

.numbered-indicators {
  flex-direction: row;
  justify-content: center;
}

.technology-info > div:nth-of-type(2) p {
  margin-top: var(--flow-space, 1rem);
}

@media (min-width: 35rem) {
  .technology {
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .technology-info {
    text-align: center;
  }

  .grid-container--technology {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "image"
      "content";
  }
}

@media (min-width: 47.5em) {
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }

  .grid-container--technology {
    grid-template-areas:
      ". title title ."
      ". content image image";
  }

  .technology-info {
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
    align-items: stretch;
    margin-left: 2rem;
  }

  .technology-text {
    min-width: 30rem;
  }

  .technology-info > .numbered-indicators {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3rem;
  }

  .technology-info > .numbered-indicators button {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    font-size: var(--fs-500);
  }

  .grid-container--technology > picture {
    justify-self: end;
  }
}
