<div class="technology">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container grid-container--technology flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">03</span> Space launch 101
    </h1>

    <article class="technology-info flex">
      <div class="numbered-indicators flex">
        <button
          *ngFor="let tech of technologies"
          (click)="selectNumber(tech)"
          [attr.aria-selected]="technology === tech ? true : false"
          class="ff-sans-cond bg-dark text-white"
        >
          {{ tech.buttonNr }}
        </button>
      </div>
      <div class="technology-text">
        <header class="flow flow--space-medium">
          <h2 class="fs-600 ff-serif text-accent uppercase">
            The terminology...
          </h2>
          <p class="fs-700 ff-serif uppercase">{{ this.technology.name }}</p>
        </header>
        <p class="text-accent">
          {{ this.technology.description }}
        </p>
      </div>
    </article>

    <picture>
      <source
        media="(max-width: 70.99em)"
        srcset="{{technology.images.desktop}}"
      />
      <img
        class="technology-image"
        src="{{ technology.images.mobile }}"
        alt="{{ technology.name }}"
      />
    </picture>
  </main>
</div>
