.home {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  background-size: cover;
  background-position: bottom center;
  background-image: url(../assets/home/background-home-mobile.jpg);
}

.home-mobile {
  padding-bottom: 1em;
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 47.5rem) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .grid-container--home {
    padding-bottom: 6rem;
    align-items: end;
  }

  .grid-container--home > *:first-child {
    grid-column: 2;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
  }
}
