<div class="destination">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container grid-container--destination flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">01</span> Pick your destination
    </h1>

    <picture>
      <source srcset="{{selectedDestination.images.webp}}" type="image/webp" />
      <img src="{{ selectedDestination.images.png }}" alt="the moon" />
    </picture>

    <app-tabs
      [tabs]="['Moon', 'Mars', 'Europa', 'Titan']"
      (tabSelected)="selectDestination($event)"
    ></app-tabs>

    <article class="destination-info flow">
      <h2 class="fs-800 ff-serif uppercase">{{ selectedDestination.name }}</h2>

      <p>
        {{ selectedDestination.description }}
      </p>

      <div class="destination-meta flex">
        <div>
          <h3 class="fs-200 text-accent uppercase">Avg. Distance</h3>
          <p class="ff-serif uppercase">{{ selectedDestination.distance }}</p>
        </div>

        <div>
          <h3 class="fs-200 text-accent uppercase">Est. travel time</h3>
          <p class="ff-serif uppercase">{{ selectedDestination.travel }}</p>
        </div>
      </div>
    </article>
  </main>
</div>
