<div class="destination">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container-xxxxx grid-container--home">
    <div>
      <h2 class="numbered-title"><span>01</span> Pick your destination</h2>
      <img src="../assets/destination/image-moon.png" alt="Moon" />

      <app-tabs [tabs]="['Moon', 'Mars', 'Europa', 'Titan']"></app-tabs>

      <p class="fs-800 ff-serif uppercase">Moon</p>

      <p>
        See our planet as you’ve never seen it before. A perfect relaxing trip
        away to help regain perspective and come back refreshed. While you’re
        there, take in some history by visiting the Luna 2 and Apollo 11 landing
        sites.
      </p>

      <p class="fs-200 ff-sans-cond uppercase letter-spacing-3">
        Avg. Distance
      </p>
      <p class="fs-500 ff-serif uppercase">384,400 km</p>

      <p class="fs-200 ff-sans-cond uppercase letter-spacing-3">
        Est. travel time
      </p>
      <p class="fs-500 ff-serif uppercase">3 days</p>
    </div>
  </main>
</div>
