.crew {
  background-size: cover;
  background-position: bottom center;
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.grid-container--crew {
  --flow-space: 2rem;
  padding-top: 0.7rem;
  grid-template-areas:
    "title"
    "image"
    "dots"
    "content";
}

.grid-container--crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.grid-container--crew > .dot-indicators {
  grid-area: dots;
}

.grid-container--crew > .crew-info {
  grid-area: content;
}

.crew-info > h2 {
  color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }

  .crew-info {
    text-align: center;
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "dots"
      "image";
  }
}

@media (min-width: 47.5em) {
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }

  .grid-container--crew {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". dots image .";
  }

  .grid-container--crew > picture {
    align-self: end;
    max-width: 100%;
    grid-column: span 2;
  }

  .crew-info {
    text-align: left;
  }

  .dot-indicators {
    --gap: 2rem;
  }
}
