<div class="crew">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container grid-container--crew flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">02</span> Meet your crew
    </h1>

    <div class="dot-indicators flex">
      <button
        *ngFor="let member of crew"
        (click)="selectDot(member)"
        aria-selected="crewMember === member ? true : false"
      >
        <span class="sr-only">{{ this.crewMember.role }}</span>
      </button>
      <!-- <button (click)="selectDot(this.crew[1])" aria-selected="false">
        <span class="sr-only">{{ this.crewMember.role }}</span>
      </button>
      <button (click)="selectDot(this.crew[2])" aria-selected="false">
        <span class="sr-only">{{ this.crewMember.role }}</span>
      </button>
      <button (click)="selectDot(this.crew[3])" aria-selected="false">
        <span class="sr-only">{{ this.crewMember.role }}</span>
      </button> -->
    </div>

    <!-- <div class="dot-indicators flex">
      <button *ngFor="let member of crew; let i = index" 
              (click)="selectDot(member)" 
              [attr.aria-selected]="selectedCrewMember === member ? 'true' : 'false'">
        <span class="sr-only">{{ member.role }}</span>
      </button>
    </div> -->

    <article class="crew-info flow">
      <header class="flow flow--space-small">
        <h2 class="fs-600 ff-serif text-accent uppercase">
          {{ this.crewMember.role }}
        </h2>
        <p class="fs-700 ff-serif uppercase">{{ this.crewMember.name }}</p>
      </header>
      <p>
        {{ this.crewMember.bio }}
      </p>
    </article>

    <picture>
      <source srcset="{{this.crewMember.images.webp}}" type="image/webp" />
      <img src="{{ this.crewMember.images.png }}" alt="douglag hurley" />
    </picture>
  </main>
</div>
