<div class="crew">
  <app-navigation></app-navigation>
  <main id="main" class="grid-container grid-container--crew flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">02</span> Meet your crew
    </h1>

    <div
      class="dot-indicators flex"
      role="tablist"
      aria-label="crew member list"
    >
      <button
        *ngFor="let member of crew"
        (click)="selectDot(member)"
        [attr.aria-selected]="crewMember === member ? true : false"
        [attr.aria-controls]="getGekoppeldeNaam(member.name) + '-panel'"
        [id]="getGekoppeldeNaam(member.name) + '-dot'"
        role="tab"
      >
        <span class="sr-only">{{ member.role }}</span>
      </button>
    </div>

    <article
      class="crew-info flow"
      role="tabpanel"
      [attr.aria-labelledby]="getGekoppeldeNaam(crewMember.name) + '-dot'"
    >
      <header class="flow flow--space-small">
        <h2 class="fs-600 ff-serif text-accent uppercase">
          {{ this.crewMember.role }}
        </h2>
        <p class="fs-700 ff-serif uppercase">{{ this.crewMember.name }}</p>
      </header>
      <p class="text-accent">
        {{ this.crewMember.bio }}
      </p>
    </article>

    <picture>
      <source srcset="{{this.crewMember.images.webp}}" type="image/webp" />
      <img src="{{ this.crewMember.images.png }}" alt="douglag hurley" />
    </picture>
  </main>
</div>
